body
{
    background-image: url(../imagenes/fondo_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form
{
    display: block;
    position: relative;
    font-size: 16px;
    
}

main div
{
    text-align: top;
    display: inline-block;
    position: relative;
    height: 100%;
}

#ultimas-publicaciones
{
    display: inline-block;
    position: relative;
    width: 60%;
    height: 60%;
}

a
{
    text-decoration: none;
}

form a
{
    color: #fff;
}