/*
	Todo lo que se encuentra en el encabezado
*/

header
{
	display: block;
	position: relative;
	background-color: #7cd7c2;
}

#usuario
{
	display: inline-block;
	position: relative;
	float: right;
	margin-top: 23px;
}

#logo
{
	display: inline-block;
	position: relative;
	width: 177px;
	height: 54px;
	background-color: #7cd7c2;
	background-image: url(../imagenes/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -1000000px;
	margin-right: 10%;
}

input[type=text]
{
	margin-top: 15px;
	display: inline-block;
	position: fixed;
	width: 45%;	
	height: 25px;
	-webkit- transition: width 0.4s ease-in-out;
		-moz- transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;

}

/*
	Todo lo que se encuentra en el contenido
*/


/*
	Segmento de la carta de presentacion del DJ 
*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.container {
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.container a 
{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover 
{
    opacity: 0.7;
}

/*
	Fin del segmento de la carta de presentacion del DJ 
*/


/*
	Todo lo que se encuentra en el pie de pagina
*/

footer
{
	background-color: #7cd7c2;
	display: block;
	position: relative;
	color: #ffd900;
}

footer span 
{
    display: inline-block;
    position: relative;
    color: #000;
    
}

.popup 
{
	position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .textopopup
{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .textopopup::after 
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show 
{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
		-moz-animation: fadeIn 1s;
			animation: fadeIn 1s
}

@-webkit-keyframes fadeIn 
{
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn 
{
    from {opacity: 0;}
    to {opacity:1 ;}
}



 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}