#usuario
{
	display: inline-block;
	position: relative;
	float: right;
	margin-top: 23px;
}

#logo
{
	display: inline-block;
	position: relative;
	width: 177px;
	height: 54px;
	background-color: #FFF;
	background-image: url(../imagenes/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -1000000px;
	margin-right: 10%;
}

input[type=text]
{
	margin-top: 15px;
	display: inline-block;
	position: fixed;
	width: 45%;	
	height: 25px;
	-webkit- transition: width 0.4s ease-in-out;
		-moz- transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;

}