body
{
    background-image: url(../imagenes/fondo_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main div
{
    display: block;
    position: relative;
    color: #D1D8ED;

    width: auto;
    display: inline-block;
	padding: 10px;
	border-radius: 15px;
    position: relative;
    margin: 10px;
}

h1
{
    font-weight: 500;
    padding: 21px 0 0 0;
}

#imagen-cancion
{
    display: inline-block;
    margin-right: 35px;
}

#detalles-cancion
{
    display: inline-block;
    height: 276px;
    vertical-align: top;
    font-weight: 500;
}

#reproductor
{
    float: right;
    width: 50%;
    vertical-align: top;
}

#informacion
{
    display: inline-block;
    position: relative;
    width: 36%;
    vertical-align: top;
}

#letra
{
    display: inline-block;
    position: relative;
    width: 36%;
    text-align: center;
    margin-left: 20px;
    color: #37456D;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: auto;
    display: inline-block;
    text-align: left;
	padding: 10px;
	border-radius: 15px;
    position: relative;
    background-color: #37456D;
}