body
{
    background-image: url(../imagenes/fondo_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
	display: block;
    position: relative;
    margin: 80px 10% 100px 10%;
 	
}

#derecha{
	display: inline-block;
	margin: 20px 0;
	text-align: right; 
}

h1 {
	margin: 0px 10px 0px 12px;
	color: #D1D8ED;
		cursor: default;
		font-size:  30px;
	   } 

p{
	
	color: #D1D8ED;
		cursor: default;
		font-size:  15px;
 	}



button {
	margin: 20px 100px 0px 0px;
	width: auto;
	border-radius: 8px;
	display:inline-block;
}

button {
	margin: 0px 100px 0px 0px;
	width: auto;
	border-radius: 8px;
	display:inline-block;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    display: inline-block;
    margin: 0;
    text-align: left;
	padding: 10px;
	border-radius: 15px;
}

#img {
	margin: 15px;
    margin-right: auto;
	width:200px;
}


.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
     display: inline-block;
    margin-left: 40px;
	margin-right: 40px;
    vertical-align: top;
    text-align: left;
	padding: 10px;
	border-radius: 15px;
}

.imagen{
	display: inline-block;
	margin: auto;
	 width:100px;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
	padding: 10px;
	border-radius: 15px;
}




main div
{
	background-color: #222633;
	color: #37456D;
}

.container
{
	position: relative;
	width: auto;
	vertical-align: center;
}



.informacion
{
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 65%;
}

h3
{
	color: #D1D8ED;

}

#link
{
	display: block;
}